<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- local connection properties -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/froidshop</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">MysqlPass_1</property>
        <!--hibernate properties-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--mapping-->
        <mapping resource="com/froidShop/config/Customer.hbm.xml"/>
        <mapping resource="com/froidShop/config/Admin.hbm.xml"/>
        <mapping resource="com/froidShop/config/Product.hbm.xml"/>
        <mapping resource="com/froidShop/config/Category.hbm.xml"/>
        <mapping resource="com/froidShop/config/Devise.hbm.xml"/>

        <mapping class="com.froidShop.beans.Category"/>
        <mapping class="com.froidShop.beans.Product"/>
        <mapping class="com.froidShop.beans.Customer"/>
        <mapping class="com.froidShop.beans.Admin"/>
        <mapping class="com.froidShop.beans.Devise"/>
    </session-factory>
</hibernate-configuration>
